[package]
name = "rusticore"
version = "0.1.0"
edition = "2024"

[profile.release]
opt-level = "z"
lto = true
panic = "abort"

[dependencies]
log = "0.4"
log4rs = "1.3.0"
http = "1.3.1"
tokio = { version = "1.47.1", features = ["full"] }
futures = "0.3.31"

